.grid-container {
  display: grid;
  background-color: rgb(92, 160, 233);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
}

.notes {
height: 200px;
width: 80%;
}
.grid-item input{
grid-template-columns: repeat(3, 1cm);
grid-template-rows: repeat(3, 100px);
}

.TableHeaderNames { 
  max-width: 20%;
  float:left;
}

.TableData { 
  float:left;
  max-width: 20%;
}


.TypeNames {

  max-width: 100%;
}
.Data {

  height: 60px;

}

.PlayerInformation{

  position: relative;
  float: left;
  max-width: 27%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.NotesHeader {

  padding-top: 5px;

}

.NotesBody{

  max-height: 100%;
  padding-bottom: 10px;

}

.NotesTag{

  
  height: 100%;
  width: 100%;
}

.InPossession,.Attacking,.Psychological,.Defending,.Tactical,.Physical, .General, .Distribution,.DecisionMaking,.Physical{

  max-width: 11.5%;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  float: right;
}