.Login {
  text-align: center;
  font-family: 'Centruy Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

.Login-logo {
  height: 40vmin;
  pointer-events: none;
  align-items: center;
}

.Login-header {
  background-color: #0B56A4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Centruy Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}


.button {
  background-color: #0B56A4;
  border: 2px solid white; 
  height: 60px;
  width: 120px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}