<html>
	

	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet"/>
	</head>
	
	
	
	<body>
		
		
		
		<div className="Login">

			<header className="Login-header">

				<img src="assets/LCFC-Print.png" id="Login-logo" alt="Logo" />
				
				<h1>Log In Page</h1>
				
				<form method="POST" action="/person">
					
					<div class="form-group">

						Username: <input type="text" class="form-control"  id="firstname" name="username" /><br />
						Password: <input type="password" class="form-control"  id="lastname" name="password" /><br />
					
					</div>
					
					<input type="submit" class="btn btn-primary" value="Submit" />
				
				</form>
			
		    </header>
		</div>
	
	
	
	</body>
</html>